1 All the teams must have 3 members
2 Once registration is done no further changes will be entertained
3 Each team must required a smart phone with internet connection
3 Only those who qualified prelims will paarticipate in final round
4 All the team members will have to adhere to rules & regulations
5 Team not adhering to any guidelines will be disqualified
6 Decision taken by the heads will be final


